body {
    margin-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

header {
    background-color: grey;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    padding: 10px;
}
img {
    margin-right: 5px
}

.stuff {
    background-color: gray;
    border-radius: 5px;
    text-align: center;
    color: black;
    padding-bottom: 10px;
    padding-top: 1px;
}

button {
    background-color: darkgrey;
    color: black;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    padding: 10px 10px;
    width: 500px;
    height: 26px;
    line-height: 0.2;
    transition: filter 0.2s ease;
}
button:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.dnwiwo {
    background-color: grey;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    color: black;
    padding-bottom: 10px;
    padding-top: 1px;
}

a {
    color: lightgrey;
    margin-left: 5px;
    transition: filter 0.2s ease;
}
a:hover {
    filter: brightness(0);
}